html {
    background-color: rgb(88, 88, 255);
}

div {
    margin: 40px auto 0 auto;
    width: 50%;
    border: black solid 1px;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: rgb(189, 255, 233);
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}